.container{
    padding: 5%;
    padding-top: 3%;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.texto {
    flex: 1; /* Faz a seção de texto ocupar o espaço restante */
    margin-right: 20px; /* Espaço entre o texto e o vídeo */
    margin: auto;
}

.video {
    flex: 0 0 300px; /* Largura fixa para a seção de vídeo */
}