.header {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    width: 100%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.login {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.503);
}

.login:focus {
    outline: none;
    box-shadow: 0 0 10px #ccc;
}
  
.logo {
  margin-right: 20px;
  cursor: pointer; 
}

.logo:hover {
    opacity: 0.8; 
}
  
.logo:active {
    transform: scale(0.9); 
}

.escolaridade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ensino {
    margin-right: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

