.header {
    background-color: white;
    height: 100px;
    display: flex;
 
    align-items: center;
    padding: 0 20px;
    opacity: 0.8;
    position: fixed; /* Torna o menu fixo no topo da página */
    top: 0; /* Fixa o menu no topo */
    left: 0; /* Fixa o menu à esquerda */
    width: 100%; /* Faz o menu ocupar toda a largura da tela */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra para dar destaque */
}
  
.logo {
  margin-right: 20px;
  cursor: pointer; 
}

.logo:hover {
    opacity: 0.8; 
}
  
.logo:active {
    transform: scale(0.9); 
}

.escolaridade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ensino {
    margin-right: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

