



.carrossel {
    position: relative;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 9px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

.cards {
    display: flex;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
}

.card {
    min-width: 80%;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card p {
    font-size: 30px;
    margin: 20px 0;
}


.prev {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(228, 214, 19, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10;
}

.next {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(228, 214, 19, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    z-index: 10;
}

buttonn:hover {
    background-color: rgba(12, 12, 11, 0.8);
}
